 body{
    margin-bottom: 40px;
 }
main{
    padding-top: 60px;
    padding-bottom: 40px;
    width: 100%;
}

.direita{
    float: right;
    padding-right: 60px;
}
.esquerda{
    float: left;
    padding-left: 50px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  
}
.fachada{
    width: 500px;
    border-radius: 3px;
}

.esquerda h3{
    font-weight: bolder;
    font-size: small;
    color: dodgerblue;
}
.esquerda h2{
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 40px;
}
.secao1{
    margin-bottom: 60px;
}
.texto{
    padding-top: 60px;
}
.local{
    text-align: center;
    padding-bottom: 10px;
}
.secao2 iframe{
    width: 100%;
    display: flex;
  justify-content: center;
}
mapa{
    width: 90%;
}

