* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Futura Md BT", sans-serif; /* Definindo uma fonte padrão para todo o documento */
    text-decoration: none;
    list-style: none;
}
 
        /* Importing Google font - Inter */
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

        body {
            background: rgb(255, 255, 255); /* Cor de fundo do corpo do documento */
            margin: 0;
            padding: 0;
        }

        header {
            background: #ffffff; /* Cor de fundo do cabeçalho */
            height: 70px; /* Altura do cabeçalho */
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 50px; /* Espaçamento interno do cabeçalho */
        }

        header .logo {
            font-size: 30px;
            text-transform: uppercase;
            border-bottom: 1px solid #000; /* Cor e espessura da linha */
            margin-bottom: 20px; /* Espaço entre o texto e a linha */
        }

        header nav ul {
            display: flex;
        }

        header nav ul li a {
            display: inline-block;
            color: #000; /* Cor do texto dos links */
            padding: 5px 10px;
            margin: 0 10px;
            border-bottom: 3px solid transparent; /* Adiciona uma borda inferior transparente inicialmente */
            text-transform: uppercase;
            transition: border-color 0.2s; /* Transição suave para a cor da borda ao passar o mouse */
        }

        header nav ul li a:hover,
        header nav ul li a.active {
            border-bottom-color: dodgerblue; /* Cor da borda inferior ao passar o mouse ou quando ativos */
        }

        .hamburger {
            cursor: pointer;
            display: none;
        }

        .hamburger div {
            width: 30px;
            height: 3px;
            margin: 5px 0;
            background: #000; /* Cor das linhas do ícone do menu */
        }

        @media only screen and (max-width: 900px) {
            header {
                padding: 0 30px; /* Ajusta o espaçamento interno do cabeçalho em telas menores */
            }
        }

        @media only screen and (max-width: 700px) {
            .hamburger {
                display: block; /* Mostra o ícone do menu (hamburger) em telas menores */
            }

            header nav {
                position: absolute;
                left: -100%; /* Esconde a navegação no início */
                top: 70px;
                width: 100%;
                background: #fff;
                padding: 30px;
                transition: left 0.3s; /* Adiciona uma transição suave para a exibição da navegação */
            }

            header #nav_check:checked~nav {
                left: 0; /* Exibe a navegação quando o input checkbox está marcado */
            }

            header nav ul {
                display: block; /* Ajusta a exibição dos itens de navegação em coluna */
            }

            header nav ul li a {
                margin: 10px 0; /* Adiciona espaçamento entre os itens de navegação em telas menores */
            }
        }

        .conteudo {
            overflow: hidden; /* Limpa o float e evita colisão com outros elementos */
        }

        h1 {
            color: #000000;
            font-size: 2rem;
            font-weight: 700;
            font-size: 50px;
            padding-left: 40px;
        }

        .digitado-p {
            margin-top: 170px;
        }

        h1 span {
            color: #0026ff;
            position: relative;
        }

        h1 span::before {
            content: "";
            height: 40px;
            width: 2px;
            position: absolute;
            top: 50%;
            right: -8px;
            background: #000000;
            transform: translateY(-45%);
            animation: blink 0.7s infinite;
        }

        img {
            float: right;
            margin-right: 5px;
        }

        h1 span.stop-blinking::before {
            animation: none;
        }

        @keyframes blink {
            50% {
                opacity: 0
            }
           
            
        }
        html{
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
        }
        

        .card-grid {
            width: 100%;
            padding: 0px 100px 0px 100px;
            display: flex; /* Utilizando flex container */
            justify-content: space-between;
            margin: 10px;
            flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha conforme necessário */
        }
        
        .card-container {
            width: 300px; /* ou o valor desejado para a largura dos cards */
            box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.25);
            border-radius: 1.10rem;
            margin: 10px; /* Adiciona espaçamento ao redor dos cards */
        }
        
        .card-img{
            border-radius: 1.1rem 1.1rem 0 0;
        }
        
        .card-content{
            padding: 1rem 2rem;
        }
        
        .card-title{
            font-size: 1.25rem;
            margin-bottom: 0.2rem;
            color: #3d3d3d;
        }
        
        .card-subtitle{
   
            font-size: 0.8rem;
            margin-bottom: 1rem;
            color: #3191fd;
        }
        
        .card-desc{
            font-size: 0.9rem;
            margin-bottom: 1rem;
            color: #3d3d3d;
        }
        
        .card-button{
            text-decoration: none;
            color: #3191fd;
            transition: border-bottom 0.3s;
        }
        
        .card-button:hover{
            border-bottom: 1px solid #3191fd;
        }
        .h1-t {
            font: 600 1.5em/1 'Raleway', sans-serif;
            color: rgba(0,0,0,.5);
            text-align: center;
            text-transform: uppercase;
            letter-spacing: .5em;
            margin-top: 100px;
            top: 25%;
            width: 100%;
        }
        
        .span-t, .span-t:after {
            font-weight: 900;
            color: #efedce;
            white-space: nowrap;
            display: inline-block;
            position: relative;
            letter-spacing: .1em;
            padding: .2em 0 .25em 0;
        }
        
        .span-t {
            font-size: 4em;
            z-index: 100;
            text-shadow: .04em .04em 0 #9cb8b3;
        }
        
        .span:after {
            content: attr(data-shadow-text);
            color: rgba(0,0,0,.35);
            text-shadow: none;
            position: absolute;
            left: .0875em;
            top: .0875em;
            z-index: -1;
          
        }